body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input,button,span{margin:0;padding:0;}
html body{font-size:12px;width: 100%;}
img{border:none;}
input,select,textarea{outline:none;}
textarea{resize:none}
a{text-decoration:none;}
ul li{list-style: none;}

