body{margin:0;padding:0}
a:visited{text-decoration:none;color:#333333}
a:hover{color:#fff}
img{border:none}
.t{width:100%}
.t .t1{height:33px;width:100%;background-image:url(../images/j_02.jpg);background-repeat:repeat-x}
.t .t1 .t1-1{width:1020px;margin-right:auto;margin-left:auto;height:33px}
.t1-1 a:link{color:#000000;text-decoration:none}
.t1-1 a:visited{color:#333;text-decoration:none}
.t1-1 a:hover{color:#AC1400}
.t .t1 .t1-1 .ti-2{float:left;padding-top:8px;font-size:12px;color:#333}
.t .t1 .t1-1 .ti-3{float:right;padding-top:6px;font-size:14px;color:#c90205;height:27px;font-family:"微软雅黑";background-image:url(../images/j_04.jpg);background-repeat:no-repeat;background-position:right top;padding-left:10px;padding-right:16px}
.t .t1 .t1-1 .ti-4{float:right;padding-top:6px;font-size:14px;color:#c90205;height:27px;font-family:"微软雅黑";padding-left:10px}
.t .t2{width:1020px;margin-right:auto;margin-left:auto;text-align:center}
.t .t3{background-color:#ac1400;height:45px;width:100%}
.t .t3 .t3-1{height:45px;width:1020px;margin-right:auto;margin-left:auto;position:relative;z-index:1100000}
.t3-1 a:link{color:#FFF;margin:0px;padding:0px;border-top-style:none;border-right-style:none;border-bottom-style:none;border-left-style:none}
.t3-1 a:visited{color:#FFFFFF;text-decoration:none}
.t3-1 a:hover{color:#FFFFFF}
.t .t3 .t3-1 .t3-2{float:left;height:45px;width:170px;background-color:#c80203;text-align:center;font-size:16px;font-weight:bold;font-family:"微软雅黑";color:#FFF;line-height:45px}
#t3-3:hover a:link{color:#FFF;margin:0px;padding:0px;border-top-style:none;border-right-style:none;border-bottom-style:none;border-left-style:none}
#t3-3 a:visited{color:#FFFFFF;text-decoration:none}
#t3-3a:hover{color:#FFFFFF}
#t3-3{float:left;height:45px;text-align:center;font-size:16px;font-weight:bold;font-family:"微软雅黑";color:#FFF;line-height:45px;padding-right:40px;padding-left:40px;background-image:url(../images/j_10.jpg);background-repeat:no-repeat;background-position:left top}
#t3-3:hover{float:left;height:45px;text-align:center;font-size:16px;font-weight:bold;font-family:"微软雅黑";color:#FFF;line-height:45px;padding-right:40px;padding-left:40px;background-image:url(../images/j_10.jpg);background-repeat:no-repeat;background-position:left top;background-color:#c80203;cursor:pointer}
#t3-5{float:left;height:45px;text-align:center;font-size:16px;font-weight:bold;font-family:"微软雅黑";color:#FFF;line-height:45px;padding-right:40px;padding-left:40px;background-image:url(../images/j_10.jpg);background-repeat:no-repeat;background-position:left top}
#t3-5:hover{float:left;height:45px;text-align:center;font-size:16px;font-weight:bold;font-family:"微软雅黑";color:#FFF;line-height:45px;padding-right:40px;padding-left:40px;background-image:url(../images/j_10.jpg);background-repeat:no-repeat;background-position:left top;background-color:#c80203;cursor:pointer}
#t3-6{float:left;height:45px;text-align:center;font-size:16px;font-weight:bold;font-family:"微软雅黑";color:#FFF;line-height:45px;padding-right:40px;padding-left:40px;background-image:url(../images/j_10.jpg);background-repeat:no-repeat;background-position:left top}
#t3-6:hover{float:left;height:45px;text-align:center;font-size:16px;font-weight:bold;font-family:"微软雅黑";color:#FFF;line-height:45px;padding-right:40px;padding-left:40px;background-image:url(../images/j_10.jpg);background-repeat:no-repeat;background-position:left top;background-color:#c80203;cursor:pointer}
#t3-7{float:left;height:45px;text-align:center;font-size:16px;font-weight:bold;font-family:"微软雅黑";color:#FFF;line-height:45px;padding-right:40px;padding-left:40px;background-image:url(../images/j_10.jpg);background-repeat:no-repeat;background-position:left top}
#t3-7:hover{float:left;height:45px;text-align:center;font-size:16px;font-weight:bold;font-family:"微软雅黑";color:#FFF;line-height:45px;padding-right:40px;padding-left:40px;background-image:url(../images/j_10.jpg);background-repeat:no-repeat;background-position:left top;background-color:#c80203;cursor:pointer}
.t3-4 a:link{color:#FFFFFF;text-decoration:none}
.t3-4 a:visited{color:#FFFFFF;text-decoration:none}
.t3-4 a:hover{color:#FFFFFF;text-decoration:none}
.t .t3 .t3-1 .t3-4{float:left;height:45px;text-align:center;font-size:16px;font-weight:bold;font-family:"微软雅黑";color:#FFF;line-height:45px;padding-right:40px;padding-left:40px}
.t .t3 .t3-1 .t3-4:hover{float:left;height:45px;text-align:center;font-size:16px;font-weight:bold;font-family:"微软雅黑";color:#FFF;line-height:45px;padding-right:40px;padding-left:40px;background-color:#c80203;cursor:pointer}
.nnnn{width:100%}
.n1{width:1018px;margin-right:auto;margin-left:auto;border-right-width:1px;border-left-width:1px;border-right-style:solid;border-left-style:solid;border-right-color:#CCC;border-left-color:#CCC;overflow:hidden}
.n1 .n1-1{float:left;width:168px;border-right-width:1px;border-right-style:solid;border-right-color:#CCC;height:332px;position:relative;z-index:1000000}
.n1-1 a:link{color:#000000;text-decoration:none}
.n1-1 a:visited{color:#333;text-decoration:none}
.n1-1 a:hover{color:#AC1400}
.n1 .n1-1 .n1-2{float:left;height:73px;width:168px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#CCC;color:#000000}
.n1-3{float:left;width:40px;margin-top:15px;text-align:right;padding-right:5px}
.n1-2 h2{padding:0px;font-size:16px;color:#000;margin-top:17px;margin-right:0px;margin-bottom:0px;margin-left:47px}
.n1-2 p{padding:0px;margin-top:8px;margin-right:0px;margin-bottom:0px;margin-left:47px;font-size:12px}
.n1-4{height:54px;width:168px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#CCC;float:left}
.n1-4 h2{font-size:16px;font-weight:bold;margin-left:47px;padding:0px;margin-right:0px;margin-bottom:0px;margin-top:18px}
.n1-5{float:left;width:840px;height:321px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#CCC;padding-top:5px;padding-right:4px;padding-bottom:5px;padding-left:5px}
.n1-6{float:left;height:296px;width:840px}
.n1-7{float:left;height:25px;width:840px;background-color:#888}
.n1-8{height:25px;width:168px;line-height:25px;text-align:center;font-size:14px;font-weight:bold;font-family:"微软雅黑";color:#FFF;float:left}
.n1-9{height:25px;width:168px;line-height:25px;text-align:center;font-size:14px;font-weight:bold;font-family:"微软雅黑";color:#FFF;float:left;background-color:#ff8434}
.n2{height:115px;width:1018px;margin-top:20px;border:1px solid #CCC;margin-right:auto;margin-left:auto;padding-bottom:20px}
.n2 .n2-1{width:950px;background-image:url(../images/j_53.jpg);background-repeat:no-repeat;background-position:left center;height:28px;margin-top:20px;margin-left:20px;padding-left:35px;line-height:28px;font-family:"微软雅黑";color:#F13101;font-size:16px;font-weight:bold;letter-spacing:2px}
.n2 .n2-2{width:990px;padding-left:10px;float:left;margin-top:6px}
.n2 .n2-2 .n2-3{float:left;margin-left:10px}
.n3{width:1018px;margin-top:20px;margin-right:auto;margin-left:auto;border:1px solid #CCC;overflow:hidden}
.n3 .n3-1{height:36px;width:1018px;background-color:#AC1400;float:left}
.n3 .n3-1 .n3-2{float:left;margin-left:18px;height:36px;background-image:url(../images/j_79.jpg);background-repeat:no-repeat;background-position:left top;line-height:36px;padding-left:23px;color:#FFF;font-size:16px;font-weight:bold}
.n3 .n3-1 .n3-3{float:right;height:33px;width:880px;background-color:#f6f6f6}
.n3 .n3-4{float:left;width:1018px;height:159px;margin:1px}
.n3 .n3-4 .n3-5{float:left;height:159px;width:167px;background-image:url(../images/j_83.jpg);background-repeat:no-repeat;background-position:center center}
.n3 .n3-4 .n3-5:hover{float:left;height:159px;width:167px;background-image:url(../images/b_83.gif);background-repeat:no-repeat;background-position:center center;cursor:pointer}
.n3 .n3-4 .n3-7{float:left;height:159px;width:168px;background-image:url(../images/j_85.jpg);background-repeat:no-repeat;background-position:center center}
.n3 .n3-4 .n3-7:hover{float:left;height:159px;width:168px;background-image:url(../images/b_85.gif);background-repeat:no-repeat;background-position:center center;cursor:pointer}
.n3 .n3-4 .n3-8{float:left;height:159px;width:169px;background-image:url(../images/j_87.jpg);background-repeat:no-repeat;background-position:center center}
.n3 .n3-4 .n3-8:hover{float:left;height:159px;width:169px;background-image:url(../images/b_87.gif);background-repeat:no-repeat;background-position:center center;cursor:pointer}
.n3 .n3-4 .n3-9{float:left;height:159px;width:167px;background-image:url(../images/j_89.jpg);background-repeat:no-repeat;background-position:center center}
.n3 .n3-4 .n3-9:hover{float:left;height:159px;width:167px;background-image:url(../images/b_89.gif);background-repeat:no-repeat;background-position:center center;cursor:pointer}
.n3 .n3-4 .n3-10{float:left;height:159px;width:168px;background-image:url(../images/j_91.jpg);background-repeat:no-repeat;background-position:center center}
.n3 .n3-4 .n3-10:hover{float:left;height:159px;width:168px;background-image:url(../images/b_91.gif);background-repeat:no-repeat;background-position:center center;cursor:pointer}
.n3 .n3-4 .n3-11{float:left;height:159px;width:167px;background-image:url(../images/j_93.jpg);background-repeat:no-repeat;background-position:center center}
.n3 .n3-4 .n3-11:hover{float:left;height:159px;width:167px;background-image:url(../images/b_93.gif);background-repeat:no-repeat;background-position:center center;cursor:pointer}
.n3 .n3-4 .n3-6{float:left}
.n4{width:1018px;margin-top:20px;margin-right:auto;margin-left:auto;border:1px solid #CCC;overflow:auto}
.n4 .n4-1{float:left;width:450px;padding-top:8px;padding-bottom:8px;padding-left:4px;padding-right:8px;border-right-width:1px;border-right-style:solid;border-right-color:#CCC}
.n4 .n4-1 .n4-3{float:left;width:450px}
.n4 .n4-1 .n4-2{float:left;text-align:center;width:446px;margin-left:4px}
.n4 .n4-1 .n4-3 .n4-4{float:left;height:55px;width:85px;margin-left:5px;margin-top:4px}
.n4 .n4-5{padding:8px;float:left;width:305px;border-right-width:1px;border-right-style:solid;border-right-color:#CCC}
.n4 .n4-5 .n4-6{float:left;width:305px;height:194px}
.n4 .n4-5 .n4-7{width:150px;float:left;margin-top:5px}
.n4 .n4-5 .n4-8{width:150px;float:right;margin-top:5px}
.n4 .n4-9{float:right;width:228px;height:342px;background-color:#f4f4f4;margin:1px}
.n4 .n4-9 .n4-10{float:left;width:213px;margin-right:7px;margin-left:7px;margin-top:5px;background-image:url(../images/j_107.jpg);background-repeat:repeat-x;background-position:left top;height:34px}
.n4 .n4-9 .n4-10 .n4-11{background-image:url(../images/j_104.jpg);background-repeat:no-repeat;background-position:left top;height:34px;line-height:38px;float:left;padding-left:30px;font-size:16px;font-weight:bold;color:#FFF}
.n4 .n4-9 .n4-10 .n4-12{float:right;background-image:url(../images/j_109.jpg);background-repeat:no-repeat;background-position:right top;height:30px;width:30px;font-size:12px;line-height:34px;color:#FFFFFF;padding-top:4px}
.n4-12 a:link{color:#FFFFFF;text-decoration:none}
.n4-12 a:hover{color:#0000FF;text-decoration:none}
.n4-12 a:visited{color:#FFFFFF;text-decoration:none}
.n4 .n4-9 .n4-13{float:left;width:213px;margin-right:7px;margin-left:7px;margin-top:5px}
.n4-13 ul{font-family:"微软雅黑";font-size:12px;font-weight:normal;padding:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:25px}
.n4-13 li{padding:0px;line-height:18px;margin-top:13px;margin-right:0px;margin-bottom:0px;margin-left:0px;list-style-type:disc}
.n5{width:100%;overflow:hidden;border-top-width:3px;border-top-style:solid;border-top-color:#ac1400;margin-top:20px}
.n5-1{width:1020px;margin-right:auto;margin-left:auto;overflow:auto}
.n5-1 .n5-2{float:left;width:125px;height:150px;margin-top:40px;padding-right:30px;padding-left:30px;background-image:url(../images/j_129.jpg);background-repeat:no-repeat;background-position:right center}
.n5-1 .n5-5{float:left;width:125px;height:150px;margin-top:40px;padding-right:30px;background-image:url(../images/j_129.jpg);background-repeat:no-repeat;background-position:right center;padding-left:3px}
.n5-3{float:left;width:115px;border-left-width:3px;border-left-style:solid;border-left-color:#ac1400;font-size:16px;font-weight:bold;padding-left:5px;color:#000000}
.n5-3 a:link{color:#000000;text-decoration:none}
.n5-3 a:visited{color:#333;text-decoration:none}
.n5-3 a:hover{color:#AC1400}

.n5-4{float:left;width:120px;margin-top:10px;color:#000}
.n5-4 a:link{color:#333333;text-decoration:none}
.n5-4 a:visited{text-decoration:none;color:#333333}
.n5-4 a:hover{color:#AC1400}
.n5-4 ul{font-size:12px;font-weight:normal;color:#333;padding:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:13px}
.n5-4 li{padding:0px;margin-top:6px;margin-right:0px;margin-bottom:0px;margin-left:0px;line-height:20px;list-style-type:disc}
.n5-1 .n5-6{float:left;width:280px;height:150px;margin-top:40px;padding-left:25px}
.n5-7{float:left;width:280px;margin-top:15px}
.n5-8{float:left;border:1px solid #CCC;margin-right:5px;margin-top:5px}
.d{width:100%;margin-right:auto;margin-left:auto;border-top-width:2px;border-top-style:solid;border-top-color:#666;overflow:auto;margin-top:50px;background-color:#e6e7eb;padding-top:10px;padding-bottom:30px}
.d .d1{text-align:center;width:1018px;margin-right:auto;margin-left:auto;font-size:12px;font-weight:normal;margin-top:10px}
.d .d1 p{font-size:12px;padding:0px;margin-top:5px;margin-right:0px;margin-bottom:0px;margin-left:0px;line-height:20px;color:#666}
#lianxi{position:fixed;top:100px;width:190px;height:570px;z-index:5;right:5px; position:fixed;}
#lianxi .lx1{float:left;width:175px;background-image:url(../images/j_56.jpg);background-repeat:repeat-y;background-position:right top;background-color:#FC8100}
#lianxi .lx1 .lx2{float:left;width:175px;height: 20px;}
#lianxi .lx1 .lx3{float:left;width:175px;}
#lianxi .lx1 .lx3 .lx3-1{width:175px;float:left;padding-top:10px;text-align:center;font-size:16px;color:#FFF;font-family:"微软雅黑";font-weight:bold}
#lianxi .lx1 .lx3 .lx3-2{float:left;width:157px;background-image:url(../images/j_22.jpg);background-repeat:no-repeat;background-position:left top;margin-left:6px;background-color:#FFE7CD}
#lianxi .lx1 .lx3 .lx3-2 .lx3-3{padding-top:10px;padding-right:5px;padding-bottom:5px;padding-left:5px;width:147px}
.lx-xl{width:147px;border:1px solid #D50000;height:21px}
.lx-xl1{float:left;height:20px;width:80px;border:1px solid #CA0205;background-image:url(../images/j_34.jpg);background-repeat:no-repeat;background-position:65px center;background-color:#FFF; line-height:20px;}
.lx-xl2{float:left;width:58px;margin-left:5px;background-image:url(../images/j_32.jpg);background-repeat:no-repeat;background-position:center center;height:21px;border:1px none #CE0000;}
.lx3-4{float:left;margin-top:10px;}
.lx3-5{float:left;margin-left:5px;width:158px;margin-top:10px;background-image:url(../images/j_212.jpg);background-repeat:no-repeat;background-position:right top;background-color:#FFE7CD; padding-top:5px;}
.lx3-6{float:left;width:118px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#FFBB71;background-image:url(../images/j_42.jpg);background-repeat:no-repeat;background-position:15px center;height:45px;font-size:12px;color:#E64D02;line-height:45px;padding-left:40px}
.lx3-7{float:left;width:118px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#FFBB71;background-image:url(../images/j_42.jpg);background-repeat:no-repeat;background-position:15px center;height:45px;font-size:12px;color:#666666;line-height:45px;padding-left:40px}
#lianxi .weixin{float:left;margin-top:20px;height:150px;width:150px;margin-left:12px;background-image:url(../images/j_70.jpg);background-repeat:repeat-x;text-align:center}
#lianxi .weixin h2{font-size:12px;font-weight:normal;color:#FFF;padding:0px;margin-top:10px;margin-right:0px;margin-bottom:10px;margin-left:0px}
.t .t3 .t3-1 .t3-3 a{color:#FFF;text-decoration:none}
.n1-2 a:link{color:#151515;text-decoration:none}
.n1-4 a:link{color:#151515;text-decoration:none}
.n4-13 a:link{color:#333333;text-decoration:none}
.n4-13 a:visited{color:#333333;text-decoration:none}
.n4-13 a:hover{color:#AD1400;text-decoration:none}
.d1 a:link{color:#000000;text-decoration:none}
.d1 a:visited{color:#333;text-decoration:none}
.d1 a:hover{color:#AC1400}
 /*下拉*/
 #apDiv1{position:absolute;left:284px;top:45px;z-index:10000;background-color:#F9F9F9;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;border-right-style:solid;border-bottom-style:solid;border-left-style:solid;border-right-color:#C80203;border-bottom-color:#C80203;border-left-color:#C80203;border-top-color:#C80203;visibility:hidden}
#apDiv2{position:absolute;left:432px;top:45px;z-index:2;background-color:#F9F9F9;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;border-right-style:solid;border-bottom-style:solid;border-left-style:solid;border-right-color:#C80203;border-bottom-color:#C80203;border-left-color:#C80203;border-top-color:#C80203;visibility:hidden}
#apDiv3{
	position:absolute;
	left:580px;
	top:45px;
	z-index:2;
	background-color:#F9F9F9;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-right-color:#C80203;
	border-bottom-color:#C80203;
	border-left-color:#C80203;
	border-top-color:#C80203;
	visibility:hidden;
	width: 314px;
}
#apDiv4{
	position:absolute;
	left:728px;
	top:45px;
	z-index:2;
	background-color:#F9F9F9;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-right-color:#C80203;
	border-bottom-color:#C80203;
	border-left-color:#C80203;
	border-top-color:#C80203;
	width: 325px;
	visibility: hidden;
}
.aa{float:left;border-right-width:1px;border-right-style:solid;border-right-color:#CCC}
.aa a:link{color:#000;margin:0px;padding:0px;border-top-style:none;border-right-style:none;border-bottom-style:none;border-left-style:none}
.aa a:visited{color:#000;text-decoration:none}
.aa a:hover{color:#990000}
.aa1{float:left;background-color:#FFF}
.aa ul{margin:0px;padding:0px}
.aa li{line-height:20px;height:20px;list-style-type:none;padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:39px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#E8E8E8;font-size:14px}
.aa ul li:hover{color:#A60000}
#fflei{position:absolute;left:-1px;top:45px;z-index:2;background-color:#FFFFFF;border-right-width:2px;border-right-style:solid;border-right-color:#CCC;border-left-width:2px;border-left-style:solid;border-left-color:#CCC;width:650px;box-shadow:4px 4px 10px #333333;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#CCC;visibility:hidden}
.fl-q{float:left;width:650px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#CCC}
.fl-q1{float:left;height:80px;width:94px;line-height:80px;background-image:url(../images/j_14.jpg);background-repeat:no-repeat;background-position:38px center;padding-left:65px;font-size:14px;background-color:#FFF;font-weight:bold;padding-right:10px}
.fl-c1{float:left;height:110px;width:94px;line-height:110px;background-image:url(../images/j2_01.jpg);background-repeat:no-repeat;background-position:38px center;padding-left:65px;font-size:14px;background-color:#FFF;font-weight:bold;padding-right:10px}
.fl-y1{float:left;height:50px;width:94px;line-height:50px;background-image:url(../images/j_40.jpg);background-repeat:no-repeat;background-position:38px center;padding-left:65px;font-size:14px;background-color:#FFF;font-weight:bold;padding-right:10px}
.fl-j1{float:left;height:50px;width:94px;line-height:50px;background-image:url(../images/j_46.jpg);background-repeat:no-repeat;background-position:38px center;padding-left:65px;font-size:14px;background-color:#FFF;font-weight:bold;padding-right:10px}
.fl-h1{float:left;height:50px;width:94px;line-height:50px;background-image:url(../images/j_50.jpg);background-repeat:no-repeat;background-position:33px center;padding-left:65px;font-size:14px;background-color:#FFF;font-weight:bold;padding-right:10px}
.fl-q2{float:left;width:470px;padding-top:10px;padding-bottom:10px;line-height:35px;font-size:12px;padding-left:10px;border-left-width:1px;border-left-style:solid;border-left-color:#CCC}
.fl-q2:hover{float:left;width:470px;padding-top:10px;padding-bottom:10px;line-height:35px;font-size:12px;padding-left:10px;border-left-width:1px;border-left-style:solid;border-left-color:#CCC;background-color:#F0F0F0}
#fflei a:link{color:#333}
#fflei a:visited{color:#333}
#fflei a:hover{color:#B50004}
.fl-tb{padding-left:10px;margin-top:6px;float:left}
.fl-q3{float:left;line-height:25px;font-size:12px;width:450px}
.fl-q4{float:left;width:77px;line-height:30px;height:30px;background-image:url(../images/j_33.jpg);background-repeat:no-repeat;background-position:left center;padding-left:15px}
.fl-q5{float:left;width:108px;line-height:35px;height:35px;background-image:url(../images/j_33.jpg);background-repeat:no-repeat;background-position:left center;padding-left:15px}
.fl-q6{font-size:12px;font-weight:bold;float:left;height:30px;width:80px;line-height:30px}
.fl-q7{float:left;line-height:35px;height:35px;background-image:url(../images/j_33.jpg);background-repeat:no-repeat;background-position:left center;padding-left:15px}
.t .t1 .t1-1 .ti-3{float:left;padding-top:8px;font-size:12px;color:#c90205;height:27px;font-family:"微软雅黑";background-image:url(../images/j_04.jpg);background-repeat:no-repeat;background-position:left top;padding-left:10px;padding-right:16px}
.t .t1 .t1-1 .ti-4{float:right;padding-top:4px;font-size:12px;color:#c90205;height:27px;font-family:"微软雅黑";background-image:url(../images/j_04.jpg);background-repeat:no-repeat;background-position:right top;padding-right:10px;line-height:27px}
.ti-5{float:right;font-size:12px;color:#c90205;height:27px;font-family:"微软雅黑";background-repeat:no-repeat;background-position:right top;padding-right:10px;line-height:27px;padding-top:4px}
.ti-6{width:90px;float:right;font-size:12px;color:#c90205;height:27px;font-family:"微软雅黑";padding-right:10px}
.ti-7{float:left;width:24px;height:27px;background:url(/app_images/4008000000/v10/header.gif) no-repeat;display:inline-block;vertical-align:middle;text-indent:-9999px;position:relative;background-image:url(../images/header.gif);background-position:left 7px;margin-top:0;margin-right:3px;margin-bottom:0;margin-left:3px}
.ti-8{float:left;width:24px;height:27px;display:inline-block;vertical-align:middle;text-indent:-9999px;position:relative;background-image:url(../images/header.gif);background-position:-23px 7px;background-repeat:no-repeat;margin-top:0;margin-right:3px;margin-bottom:0;margin-left:3px}
.ti-9{float:left;width:24px;height:27px;display:inline-block;vertical-align:middle;text-indent:-9999px;position:relative;background-image:url(../images/header.gif);background-position:-47px 7px;background-repeat:no-repeat;margin-top:0;margin-right:3px;margin-bottom:0;margin-left:3px}
#syxl{position:absolute;left:168px;top:0px;z-index:2;background-color:#FFFFFF;font-size:12px;line-height:25px;padding:8px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;border-right-style:solid;border-bottom-style:solid;border-left-style:solid;border-right-color:#C80203;border-bottom-color:#C80203;border-left-color:#C80203;visibility:hidden}
#syxl1{position:absolute;left:168px;top:0px;width:434px;z-index:2;background-color:#FFFFFF;font-size:12px;line-height:25px;padding:8px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;border-right-style:solid;border-bottom-style:solid;border-left-style:solid;border-right-color:#C80203;border-bottom-color:#C80203;border-left-color:#C80203;visibility:hidden}
#syxl2{position:absolute;left:168px;top:54px;width:434px;z-index:2;background-color:#FFFFFF;font-size:12px;line-height:25px;padding:8px;border:1px solid #C80203;visibility:hidden}
#syxl3{position:absolute;left:168px;top:54px;width:434px;z-index:2;background-color:#FFFFFF;font-size:12px;line-height:25px;padding:8px;border:1px solid #C80203;visibility:hidden}
*+html #syxl4{
	position:absolute;
	left:168px;
	top:111px;
	width:438px;
	z-index:2;
	background-color:#FFFFFF;
	font-size:12px;
	line-height:25px;
	padding:8px;
	border:1px solid #C80203;
	visibility: hidden;
}
#syxl4{
	position:absolute;
	left:168px;
	top:108px;
	width:434px;
	z-index:2;
	background-color:#FFFFFF;
	font-size:12px;
	line-height:25px;
	padding:8px;
	border:1px solid #C80203;
	visibility: hidden;
}
#zhe{position:absolute;left:-20px;top:0px;width:28px;height:73px;z-index:2;background-color:#FFF}
#xxian{position:absolute;left:-171px;top:67px;width:171px;height:6px;z-index:2;background-color:#FFF;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#AC1400}
#zhe1{position:absolute;left:-10px;top:74px;width:10px;height:73px;z-index:2;background-color:#FFF}
#xxian1{position:absolute;left:-171px;top:141px;width:171px;height:6px;z-index:2;background-color:#FFF;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#AC1400}
*+html #xxian1{position:absolute;left:-169px;top:141px;width:169px;height:6px;z-index:2;background-color:#FFF;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#AC1400}
#zhe2{position:absolute;left:-10px;top:93px;width:10px;height:73px;z-index:2;background-color:#FFF}
#xxian2{position:absolute;left:-171px;top:161px;width:171px;height:6px;z-index:2;background-color:#FFF;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#AC1400}
*+html #xxian2{position:absolute;left:-169px;top:161px;width:169px;height:6px;z-index:2;background-color:#FFF;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#AC1400}
#zhe3{position:absolute;left:-10px;top:167px;width:10px;height:54px;z-index:2;background-color:#FFF}
#xxian3{position:absolute;left:-171px;top:215px;width:171px;height:6px;z-index:2;background-color:#FFF;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#AC1400}
*+html #xxian3{position:absolute;left:-169px;top:215px;width:169px;height:6px;z-index:2;background-color:#FFF;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#AC1400}
*+html #zhe4{position:absolute;left:-9px;top:165px;width:9px;height:56px;z-index:2;background-color:#FFF}
*+html #xxian4{position:absolute;left:-169px;top:213px;width:171px;height:6px;z-index:2;background-color:#FFF;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#AC1400}
#zhe4{position:absolute;left:-9px;top:168px;width:9px;height:53px;z-index:2;background-color:#FFF}
#xxian4{position:absolute;left:-171px;top:216px;width:171px;height:6px;z-index:2;background-color:#FFF;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#AC1400;}
